/* Button */

/* .myButton {
	-moz-box-shadow: 0px 0px 0px 0px #91b8b3;
	-webkit-box-shadow: 0px 0px 0px 0px #91b8b3;
	box-shadow: 0px 0px 0px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #596662), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #596662 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #596662 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #596662 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #596662 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #596662 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#596662', endColorstr='#6c7c7c',GradientType=0);
	background-color:#596662;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:15px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #596662));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #596662 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #596662 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #596662 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #596662 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #596662 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#596662',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
} */

/* Button */

.ant-carousel .slick-slide {
	text-align: center;
	min-height: 50px;
	width: 135px;
	line-height: 100px;
	background: #0c596b;
	overflow: hidden;
  }
  .slick-dots{
	  bottom: 215px;
  }
  .slick-slider{
	height: 150px;
  }
  .ant-fullcalendar-value{
	  color: antiquewhite !important;
  }
  .ant-fullcalendar-column-header-inner{
	color: yellow !important;
}
.radio-btn-value{
	color: antiquewhite !important;
}
.ant-card{
	width: 250px !important;
	height: 175px !important;
	position: relative !important;
	/* margin-bottom: 16px !important; */
	margin: 16px auto 16px auto !important;
	left: 10px !important;
}

/* request Card */

body {
	position: relative;
	height: 100%;
	width: 100%;
}
.columns {
	margin-top: 80px;
}
.card {
	background-color: white;
	box-shadow: rgba(10, 10, 10, 0.1) 0px 2px 3px, rgba(10, 10, 10, 0.1) 0px 0px 0px 1px;
	color: #4a4a4a;
	max-width: 100%;
}
.section {
	background-color: #ededed;
	min-height: 100vh;
	position: relative;
}
.card {
	border-radius: 6px;
	overflow: hidden;
	margin : 10px;
}
.header {
	height: 120px;
	background: #100c08;
}
.header .avatar {
	width: 80px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.header .avatar img {
	display: block;
	border-radius: 50%;
	position: absolute;
	bottom: -42px;
	border: 4px solid white;
}
.card-body {
	padding: 30px;
}
.card-body .user-meta {
	padding-top: 20px;
}
.card-body .user-meta .username {
	font-size: 18px;
	font-weight: 600;
}
.card-body .user-meta .position {
	font-size: 90%;
	color: #100c08;
}
.user-bio {
	padding-top: 8px;
	font-size: 92%;
	color: #999;
}
.action {
	padding-top: 20px;
}
.action .button {
	padding: 16px 20px 16px 20px;
	background: #2E8B57;
	border-color: #2E8B57;
	color: white;
	border-radius: 100px;
	transition: opacity 0.3s;
}
.action .button:hover {
	opacity: 0.7;
}

.myBtn{
	background-color: #980000 !important;
	border-color: #980000 !important;
	margin-left : 5px;
	
}

.navBtn{
	background-color: #7F00FF !important;
	border-color: #7F00FF !important;
	color: white !important ;
}

.ant-card{
	background: #0c596b !important
}

.ant-card-meta-description {
	color: #ffffff !important
}

.ant-card-meta-title {
	color: #97dcd6fa !important
}

.edit {
	color: #97dcd6fa !important;
	margin: 5px;
	text-align: center
	
}

.react-add-to-calendar__button{
	color : #ffee18 !important
}