.appcheck{
    background-color: white;
}
.Heading{
    color: antiquewhite;
    text-align: center;
    font: 400 75px/0.8 'Great Vibes', Helvetica, sans-serif;
    margin :20px;
}
.Homepage{
    text-align: center;
}
.ProfileScreen{
    text-align: center;
}
.dashboard{
    text-align: center;
}
.heightSetting{
    min-height: 400px;
}